{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static',filename="styles.css")}}">
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">

    <title>Login</title>

  </head>
  
  <body>
    <div class="main-container">
      <header>
        <nav>
          <div class="logo"> PITCH IT </div>
          <div class="access">
            <ul>
              <li><a href="">Log in</a></li>
              <li><a href="">Sign Up</a></li>

            </ul>

          </div>
        </nav>
      </header>

      <div class="access-form">
        <div class="main-form-label"><div class="blue-text">Log in</div></div>
      
        <div class="form-content">                
          <form method="POST" action="/login" >
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.remember) }}

            <!-- <input class="login-info" type="text" placeholder="                                                       username/email"><br><br>
            <input class="login-info" type="password" name="email" id="email" placeholder="                                                    myaddress@example.com"><br>
            -->
          
            <br>

            <button class="form-btn" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
          </form>

          <p><a class="form-extra" href="">Forgot  password?</a> <a class="form-extra" href="">New User? <strong>SIGNUP</strong></a></p>
          
        </div><!-- .form-content-->
        
      </div>
      
    </div> <!-- .main-container -->

    <footer>
      <div class="p">Phone number</div>
    </footer>

    <script src="https://kit.fontawesome.com/d3d56d9400.js" crossorigin="anonymous"></script>
    
  </body>
</html>

{% endblock %}